<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f37ef1">  <td>22/01/19 19:26:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AWD_Test.applicationAWD_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testcases.AWD_Test@1969fbe]">applicationAWD_test</td> 
  <td>main@7631285</td>   <td></td> </tr>
<tr bgcolor="f37ef1">  <td>22/01/19 19:29:10</td>   <td>137526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AWD_Test.applicationAWD_test(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.qa.testcases.AWD_Test@1969fbe]">applicationAWD_test</td> 
  <td>main@7631285</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>22/01/19 19:26:51</td>   <td>-1480</td> <td title="&gt;&gt;TestBase.setupSuite()[pri:0, instance:com.qa.testcases.AWD_Test@1969fbe]">&gt;&gt;setupSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7631285</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>22/01/19 19:29:08</td>   <td>135407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.AWD_Test@1969fbe]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@7631285</td>   <td></td> </tr>
<tr bgcolor="f4f06f">  <td>22/01/19 19:29:10</td>   <td>137528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.AWD_Test@1969fbe]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@7631285</td>   <td></td> </tr>
</table>
